body, html {
    /* min-height: 100vh; */
    height: 100% !important;
    width: 100% !important;
    font-size: 1rem;
    overflow-x: hidden;
    overflow-y: auto;
}

#header-home {
    margin-top: 3%;
}

.background-img1 {
    min-height: 100%;

    background-image: url("../../images/home_bg.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover !important;
}

.background-img2 {
    min-height: 100%;

    background-image: url("../../images/home_bg2.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.background-img3 {
    min-height: 100%;

    background-image: url("../../images/home_bg3.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

div.card-active {
    border-bottom: 2px solid #000000 !important;
    padding: auto;
}

div.card-title div div a {
    display: block;
    text-decoration: none;
    color: black;
}

@media only screen and (max-width: 768px) {
    #header-home {
        margin-top: 30%;
        padding: 0 !important;
    }
}
